<!-- <div class="content-container"> -->
    <!-- <ul class="nav nav-tabs"> -->
        <!-- <li class="nav nav-item">
<a class="nav-link active" aria-current="page" routerLink="/registration" routerLinkActive="active"> Registration</a>
        </li> -->

<!--     
        <li class="nav nav-item">
<a class="nav-link active" aria-current="page" routerLink="/login" routerLinkActive="active"> Login</a>
        </li>

    </ul> -->

<!-- <div class="router-content"> -->
 <router-outlet/>
<!-- </div> -->
<!-- </div> --> 